/node_modules
/node_modules/**
/public/lib
/public/lib/**
/public/node_modules
/public/node_modules/**
/public/.bower-cache
/public/.bower-cache/**
/public/.bower-registry
/public/.bower-registry/**
/public/.bower-tmp
/public/.bower-tmp/**
