<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/" >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Wiki</span>
  <span class="menu-spacer"></span>
  <button mat-icon-button (click)="editer()">
    <mat-icon>create</mat-icon>
  </button>
  <mat-icon class="menu-icon">delete</mat-icon>
</mat-toolbar>
<mat-card>
  <mat-card-title>
    Page d'accueil de test
  </mat-card-title>
  <mat-card-content>
    <div class="html" *ngIf="!edition">
      <!-- <p ng-bind-html="pagehtml"></p> -->
      Il ne faut pas *vendre* la _peau_ de l'ourse =avant= d'avoir crier victoire trop tot !! Tel est pris qui rira *bien* le _dernier_
      ! C'est la cerise sur le pompom ! C'est l'étincelle qui fait déborder le vase ! C'est la goutte d'eau qui met le feu
      aux poudres ! Petit à petit l'oiseau devient forgeron ! Les ciseaux à bois : Les [chiens] aussi.
    </div>
    <div class="wiki" *ngIf="edition">
      <textarea rows="20"></textarea>
    </div>
  </mat-card-content>
</mat-card>