body {}

.page .html a {
  color: firebrick
}

h1 {
  margin-top: 2px;
  margin-bottom: 2px;
}

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

h3 {
  margin-top: 2px;
  margin-bottom: 2px;
}

h4 {
  margin-top: 2px;
  margin-bottom: 2px;
}

h5 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.wiki .bureau {
  padding: 10px;
}

.dc-wiki .barre-laterale .rubrique {
  cursor: pointer;
}

.dc-wiki .page .contenu {
  width: 100%;
  border-style: none;
}

.dc-wiki .page .barre-menu {
  position: relative;
}

.dc-wiki .page .barre-menu .md-button {
  min-width: 30px;
}

.dc-wiki .page .barre-menu .md-button.droite {
  font-size: 20px;
  min-width: 0px;
  margin: 0;
  padding-left: 12px;
  padding-right: 12px;
}

.dc-wiki .barre-menu .md-button.droite {
  font-size: 20px;
  min-width: 0px;
  margin: 0;
  padding-left: 12px;
  padding-right: 12px;
}

.dc-wiki .barre-menu .sous-menu {
  padding: 0px;
}

.dc-wiki .page .bouton-edition {
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  padding-left: 0px;
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.dc-wiki .telechargement md-input-container {
  margin-bottom: 2px;
  margin-top: 2px;
}
