body {}

.page .html a {
  color: firebrick
}

.wiki .bureau {
  padding: 10px;
}

.dc-wiki .barre-laterale .rubrique {
  cursor: pointer;
}

.dc-wiki .page .barre-menu .md-button {
  min-width: 30px;
}

.dc-wiki .page .bouton-edition {
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  padding-left: 0px;
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.dc-wiki .page .barre-menu .md-button.droite {
  font-size: 20px;
  min-width: 0px;
  margin: 0;
  padding-left: 12px;
  padding-right: 12px;
}

.dc-wiki .barre-menu .md-button.droite {
  font-size: 20px;
  min-width: 0px;
  margin: 0;
  padding-left: 12px;
  padding-right: 12px;
}
