<section class="config">
  <md-content layout-padding>
    <h1>Panneau de configuration</h1>
    <form name="userForm">

      <md-input-container flex>
        <label>Theme</label>
        <input ng-model="user.company" disabled>
      </md-input-container>
      <md-input-container flex>
        <label>Parametre 1</label>
        <input ng-model="user.company" disabled>
      </md-input-container>
      <md-input-container flex>
        <label>Parametre 2</label>
        <input ng-model="user.company" disabled>
      </md-input-container>
      <md-input-container flex>
        <label>Parametre 3</label>
        <input ng-model="user.company" disabled>
      </md-input-container>
    </form>

  </md-content>
</section>
