<section>
  <md-toolbar layout="row" ng-show="edition">
    <div class="md-toolbar-tools">
      <md-button ng-click="onEnregistrer()" aria-label="Enregistrer">
        <md-icon md-font-icon="fa fa-floppy-o"></md-icon>
      </md-button>

      <span flex></span>

      <md-button ng-click="onHPlus()" class="menuBtn">
        <md-icon md-font-icon="fa fa-indent"></md-icon>
      </md-button>
      <md-button ng-click="onHMoins()" class="menuBtn">
        <i class="fa fa-outdent"></i>
      </md-button>
      <md-button ng-click="onAjouterLien()" class="menuBtn">
        <i class="fa fa-link"></i>
      </md-button>
      <md-button ng-click="onAjouterGras()" class="menuBtn">
        <i class="fa fa-bold"></i>
      </md-button>
      <md-button ng-click="onAjouterSouligne()" class="menuBtn">
        <i class="fa fa-underline"></i>
      </md-button>
      <md-button ng-click="onAjouterItalic()" class="menuBtn">
        <i class="fa fa-italic"></i>
      </md-button>



      <md-button class="md-fab md-primary" ng-click="onTeleversement()" class="md-icon-button" aria-label="Televerser">
        <md-icon md-font-icon="fa fa-cloud-upload"></md-icon>
      </md-button>
      <md-button ng-click="onAnnuler()" aria-label="Annuler">
        <md-icon md-font-icon="fa fa-undo"></md-icon>
      </md-button>


    </div>
  </md-toolbar>
  <md-content layout="column" flex class="md-padding">
    <div ng-hide="edition">
      <p ng-bind-html="pagehtml"></p>
    </div>
    <div class="form-group" ng-show="edition">
      <textarea dc-editeur ng-model="pagecontenu" class="page-contenu" rows="40"></textarea>
    </div>
    </div>
    <div ng-hide="edition" class="panel-footer">
      <span class="label label-default">{{dateMaj|date:'d MMM yyyy'}}</span>
    </div>
</section>
