<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </mat-sidenav>

  <!-- <div class="example-sidenav-content">
    <button type="button" mat-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div> -->




  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <span>Wiki</span>
  </mat-toolbar>
  <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  <mat-icon svgIcon="thumbs-up"></mat-icon>
  <div>

    <h1>
      Page d'accueil de test
    </h1>
    <p>
      Il ne faut pas *vendre* la _peau_ de l'ourse =avant= d'avoir crier victoire trop tot !! Tel est pris qui rira *bien* le _dernier_
      ! C'est la cerise sur le pompom ! C'est l'étincelle qui fait déborder le vase ! C'est la goutte d'eau qui met le feu
      aux poudres ! Petit à petit l'oiseau devient forgeron ! Les ciseaux à bois : Les [chiens] aussi.
    </p>
  </div>
</mat-sidenav-container>