@import "../../node_modules/materialize-css/dist/css/materialize.css";
// @import "../../node_modules/font-awesome/scss/font-awesome.scss";
$vert: #99cc00;
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
html {
    @media #{$desktop} {
        font-size: 17px;
    }
    @media #{$tablet} {
        font-size: 14px;
    }
    @media #{$mobile} {
        font-size: 11px;
    }
}

.card {
    .card-content {
        padding: 1.4rem;
        padding-top:0.4rem;
    }
    #maj {
        font-style: italic;
        text-align: right;
        margin: 1em;
    }
}

#page {
    h1 {
        font-size: 2rem;
        margin-top: 0.8rem;
        margin-bottom: 0.3rem;
    }
    h2 {
        font-size: 1.3rem;
        margin-top: 0.8rem;
        margin-bottom: 0.3rem;
    }
    p {
        margin: 0;
    }
    textarea {
        height: 15rem;
    }
}
